@()

@import helper._

@main("Todo list") {


<header class="subheader" id="overview">
    <div class="container">
        <h1>Git resources</h1>
    </div>
</header>

<div class="container">
    <ul class="nav nav-list bs-docs-sidenav affix">
        <li class><a href="https://www.youtube.com/watch?v=ZDR433b0HJY">Introduction to Git with Scott Chacon of GitHub</a></li>
        <li class><a href="http://git-scm.com/book/en">Pro Git</a></li>
        <li class><a href="http://gitref.org/index.html">Git quick reference</a></li>
    </ul>
</div>

}