@()

@import helper._

@main("Todo list") {


<header class="subheader" id="overview">
    <div class="container">
        <h1>Git resources</h1>
    </div>
</header>

<div class="container">
    <ul>
        <li class><a href="http://thkoch2001.github.io/whygitisbetter/#cheap-local-branching">Why git is better than X</a></li>
        <li class><a href="https://www.youtube.com/watch?v=ZDR433b0HJY">Introduction to Git with Scott Chacon of GitHub</a></li>
        <li class><a href="http://git-scm.com/book/en">Pro Git</a></li>
        <li class><a href="http://gitref.org/index.html">Git quick reference</a></li>
        <li class><a href="http://pcottle.github.io/learnGitBranching/index.html">Interactive git tutorial</a></li>
        <li class><a href="https://help.github.com/articles/generating-ssh-keys">Setting up SSH keys</a></li>
    </ul>
</div>

}